---
---

@import 'bootstrap-custom';
@import 'bootstrap';
@import 'fonts';
@import 'palette';

$milliseconds: $rgba-primary-0;
$minutes: $rgba-primary-4;
$hours: $rgba-primary-4;

$darkener: 5%;
$lightener: 10%;

body {
  background-color: $rgba-primary-1;
  font-family: $font-family-san-serif;
  color: $rgba-primary-3;
}

h1, #clock {
  text-align: center;
}

h1 {
  padding-top: 20px;
}

#milliseconds-arc {
  fill: $milliseconds;
  stroke: darken($milliseconds, $darkener);
}

#milliseconds-chaser {
  fill: lighten($milliseconds, $lightener);
  stroke: darken($milliseconds, $darkener);
}

#minutes-arc {
  fill: $minutes;
  stroke: darken($minutes, $darkener);
}

#minutes-chaser {
  fill: lighten($minutes, $lightener);
  stroke: darken($minutes, $darkener);
}

#hours-arc {
  fill: $hours;
  stroke: darken($hours, $darkener);
}

#hours-chaser {
  fill: lighten($hours, $lightener);
  stroke: darken($hours, $darkener);
}
